# Virtual environment
tenv/
venv/

# Media files (user uploads)
media/

# SQLite database (local dev DB)
db.sqlite3
*.sqlite3
*.db

# Secrets
.env

# Python artifacts
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
config.json

# Ignore package manager lock files (if using both npm & pip)
package-lock.json
poetry.lock
pip-log.txt

# Ignore node dependencies
node_modules/

# Ignore source files not needed in production
static_src/

# Ignore build tool configs (optional)
package-lock.json
package.json
postcss.config.js
tailwind.config.js